@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto&family=Work+Sans:wght@100;400&display=swap');
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #003771;
}

.banner{
    width: 100vw;
    height: 12vh;
    background-color: #3c3f45;
   
}

header{
    padding: 0vw 10.5vw;
    box-sizing: border-box;
}

header img{
    width: 17vw;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.column{
    background-color: #3c3f45;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 76vh;
    align-items: center;
    justify-content: space-between;
    padding: 11vh 0px;
    box-sizing: border-box;
}

.column button{
    background-color: gray;
    width: 60%;
    height: 22%;
    border: none;
    border-radius: 5%;
}

#realMain{
    
    padding: 0;
    width: 76vw;
    height: 76vh;
    box-sizing: border-box;
}

nav{
    padding: 0 3vw;
    height: 10vh;
    width: 76vw;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 13vw;
}

#divAssistance{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textAssistance{
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #003771;
}

#logoAss{
    width: 5vw; 
}
#content{
    width: 76vw;
    padding-top: 15vh;
}
#checkAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 30vh;
    margin: 0 auto;
}

#button{
width: 60vw;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.endButton{
    background-color:  rgb(255, 255, 255);
    width: 10vw;
    border: none;
    height: 8vh;
    font-size: 1.5vw;
    font-weight: bold;
    color:  rgb(31, 67, 125);
    border: solid  rgb(255, 187, 0) 5px;
    border-radius: 10px;
    margin: 0 auto;
    transition: background-color 0.25s, color 0.25s;
    cursor: pointer;
}

.endButton:hover{
    background-color: rgb(255, 187, 0) ;
    color: white;
}

input{
    margin-bottom: 25px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: solid rgb(255, 187, 0) 6px;
    border-radius: 8px;
}

h1{
    color: white;
    align-items: flex-start;
}

