@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    padding: 5px 0px;
    background-color: rgba(27, 27, 27, 0.959);
    font-family: 'Roboto', sans-serif;
    width: 1000px;
    height: 100vh;
}

#header {
    width: 675px;
}

h1 {
    color: white;
    text-align: center;
}

#button,
#colorPick {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.buttonInside {
    background-color: white;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    height: 60px;
    width: 80px;
    transition: background-color 0.50s, color 0.50s;
    cursor: pointer;
}

.buttonInside:hover {
    background-color: black;
    color: white;
}

.container {
    width: 675px;
    height: 570px;
    justify-content: space-between;
    display: flex;
}

#color {
    width: 200px;
    height: 570px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
}

#gridMain {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 479px;
    height: 520px;
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(24, 20px);
    grid-template-rows: repeat(26, 20px);


}

.pixel {
    width: 20px;
    height: 20px;
    border: solid black 1px;
    box-sizing: border-box;
}

.colorPixel {
    width: 40px;
    height: 40px;
    border-radius: 500px;
    margin: 2.5px;
    cursor: pointer;
    transition: opacity 0.25s;

}

.colorPixel:hover {
    opacity: 0.1;
}

.buttonNew {
    display: flex;
}

.container2 {
    transform: translate(-100%);
    position: fixed;
    align-items: flex-start;
    width: 350px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    justify-items: center;
    padding: 10px 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 50px 70px 1fr;
    color: white;
    gap: 5px;
    grid-template-areas:
        "title title"
        "input input"
        "button1 button2"
        "lista lista";
        transition: transform 0.50s;
}
.container2Show {
    transform: translate(0);
}

.container2 input {
    width: 88%;
    padding: 10px;
    box-sizing: border-box;
}

.container2 label {
    font-weight: bold;
}

#titolo {
    grid-area: title;
}

#nameOpera {
    grid-area: input;
}

#save {
    grid-area: button1;
}

#upload {
    grid-area: button2;
}

#stampaNomiOpere {
    text-align: left;
    font-size: 16px;
    grid-area: lista;
}

.scritta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.scritta button {
   
    background-color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.25s, color 0.25s;
}

.scritta  button:hover {
    background-color: black;
    color: white;
}

#sideBar{
    font-size: 35px;
}