@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: white;
}
main {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 
}
.square ,#restart{
    width: 205px;
    height: 205px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square:hover ,#restart:hover{
    background-color: rgb(188, 183, 183);
}

#stampaPB{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#stampa{
    text-align: center;
}
img{
    width: 150px;
}

